---
import HeaderLayout from '../layouts/HeaderLayout.astro';
import { getGroups } from '../models/group/group.services'
import { setUserSession } from '../lib/auth';
import Group from '../components/Group.astro';
import type { IGroup } from '../models/group/group.interfaces';
import CreateGroupModal from '../components/CreateGroupModal';

const userSession = await setUserSession(Astro.cookies);
if (!userSession) {
    return Astro.redirect('/');
}

const groups = await getGroups(userSession.id);
---

<HeaderLayout 
	title="Grupos" 
	description="Pagina para crear o sumarte a grupos de quiniela o predicciones de los ganadores de los Oscars 2024" 
	userSession={userSession}
>
	<main>
		<header class="flex flex-col py-32 gap-4">
            <div>
                <h1 class="text-5xl font-light max-w-96 my-auto">
                Mis Grupos
                </h1>
                <p class="font-semibold mt-3 text-neutral-400">
                    Únete a un grupo o crea uno nuevo para comparar tus predicciones y ver quien es el mejor.
                </p>
            </div>
            <div class="flex mt-6">
                <CreateGroupModal client:idle creatorId={userSession.id}/>
            </div>
        </header>
        <div class="grid grid-cols-1 gap-4">
            {
                groups.map((group: IGroup)=> (
                    <Group id={group.id} title={group.name} description={group.createBy} members={group.members}/>
                ))
            }
        </div>
	</main>
</HeaderLayout>