---
import GroupMembers from '../components/GroupMembers.astro';
import GroupStats from '../components/GroupStats.astro';
import GroupRank from '../components/GroupRank.astro';
import JoinGroupButton from '../components/JoinGroupButton';
import HeaderLayout from '../layouts/HeaderLayout.astro';
import { setUserSession } from '../lib/auth';
import { getGroup, getGroupMembers, addUserToGroup } from '../models/group/group.services';
import type { IProfile } from '../models/profile/profile.interfaces';
import Toolbar from '../components/Toolbar.astro';
import ShareButton from '../components/ShareButton';

const userSession = await setUserSession(Astro.cookies);

const groupId = Astro.url.searchParams.get('id')
if (!groupId) {
    return Astro.redirect('/groups');
}

const group = await getGroup(parseInt(groupId))
if (!group) return Astro.redirect('/groups');

const members: IProfile[] = await getGroupMembers(parseInt(groupId))
let userInGroup = false;
if (userSession) 
    userInGroup = members.some((m) => m.id === userSession.id)

const add = Astro.url.searchParams.get('add')
if (userSession && add === 'true' && !userInGroup) {
    await addUserToGroup(userSession.id, parseInt(groupId))
    return Astro.redirect(`/group/?id=${groupId}`)
}
---

<HeaderLayout 
	title="Grupos" 
	description="Pagina para crear o sumarte a grupos de quiniela o predicciones de los ganadores de los Oscars 2024" 
	userSession={userSession}
>
	<main>
		<header class="flex justify-between items-center py-20 md:py-16">
            <div>
                <div class="flex gap-2 items-center">
                    <h1 class="text-2xl font-bold max-w-96">
                        { group.name }
                    </h1>
                    <ShareButton type='group' id={groupId} client:idle/>
                </div>
                <p class="text-sm mt-3 text-neutral-400 max-w-[200px] md:max-w-[400px]">
                    { group.description }
                </p>
                <div class={`flex ${userInGroup && 'hidden'} mt-6`}>
                    <JoinGroupButton userId={userSession?.id} groupId={groupId} client:idle/>
                </div>
            </div>
            <aside>
                <p class="text-lg font-semibold text-center">
                    { group.members } 
                </p>
                <p class="uppercase text-[11px] font-bold text-white/50">
                    miembros
                </p>
            </aside>
        </header>


    {
        userInGroup
            ? 
                <Toolbar> 
                    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                        <li class="me-2 cursor-pointer tab">
                            <a class="inline-block px-3 py-2 rounded-full text-xs uppercase font-bold" >
                                Miembros
                            </a>
                        </li>
                        <li class="me-2 cursor-pointer tab">
                            <a class="inline-block px-3 py-2 rounded-full text-xs uppercase font-bold">
                                Posiciones
                            </a>
                        </li>
                        <li class="me-2 cursor-pointer tab">
                            <a class="inline-block px-3 py-2 rounded-full text-xs uppercase font-bold">
                                Estadisticas
                            </a>
                        </li>
                    </ul>
                </Toolbar>

                <section class="py-12 tab-sections transition-all ease-in-out duration-300">
                    <GroupMembers members={members} />
                </section>
                <section class="py-12 tab-sections transition-all ease-in-out duration-300">
                    <GroupRank />
                </section>
                <section class="py-12 tab-sections transition-all ease-in-out duration-300">
                    <GroupStats />
                </section>
            :
                <GroupMembers members={members} />
    }
	</main>
</HeaderLayout>

<script>
    const tabs = document.querySelectorAll('li.tab');
    const sections = document.querySelectorAll('section.tab-sections');
    const initalTab = tabs[0];

    function tabSelected(tab: Element, index: number){
        tabs.forEach((t) => {
            t.querySelector('a')?.classList.remove('bg-amber-500', 'text-white');
            t.querySelector('a')?.classList.add('hover:text-gray-900', 'hover:bg-gray-100', 'dark:hover:bg-amber-800/60', 'dark:hover:text-white');
        });

        const tabElement = tab as HTMLElement;
        tabElement.querySelector('a')?.classList.remove('hover:text-gray-900', 'hover:bg-gray-100', 'dark:hover:bg-amber-800/60', 'dark:hover:text-white');
        tabElement.querySelector('a')?.classList.add('bg-amber-500', 'text-white');

        sections.forEach((section, i) => {
            if (i === index) {
                section.classList.remove('hidden')

            }else
                section.classList.add('hidden');
        });
    }

    tabSelected(initalTab, 0)

    tabs.forEach((tab, index) => {
        tab.addEventListener('click', () => tabSelected(tab, index));
    });
</script>