---
import HeaderLayout from '../layouts/HeaderLayout.astro';
import { getGroups } from '../models/group/group.services'
import { setUserSession } from '../lib/auth';
import Group from '../components/Group.astro';
import type { IGroup } from '../models/group/group.interfaces';
import CreateGroupModal from '../components/CreateGroupModal';
import Toolbar from '../components/Toolbar.astro';

const userSession = await setUserSession(Astro.cookies);
if (!userSession) {
    return Astro.redirect('/');
}

const groups = await getGroups(userSession.id);
---

<HeaderLayout 
	title="Grupos" 
	description="Pagina para crear o sumarte a grupos de quiniela o predicciones de los ganadores de los Oscars 2024" 
	userSession={userSession}
>
	<main>
		<header class="py-20 md:py-16">
            <h1 class="text-2xl font-bold max-w-96 my-auto">
                Grupos
            </h1>
            <p class="text-sm mt-3 text-neutral-400">
                Únete a un grupo o crea uno nuevo para comparar tus predicciones con tus amigos y ver quien es el mejor.
            </p>
        </header>
        <Toolbar>
            <p class=" uppercase">Mis <span class="text-amber-500">grupos</span></p> 
            <CreateGroupModal client:idle creatorId={userSession.id}/>
        </Toolbar>
        <div class="grid grid-cols-1 gap-4">
            {
                groups.map((group: IGroup)=> (
                    <Group id={group.id} title={group.name} description={group.createBy} members={group.members}/>
                ))
            }
        </div>
	</main>
</HeaderLayout>