---
import HeaderLayout from '../layouts/HeaderLayout.astro';
import Header from '../components/Header.astro';
import Grid from '../components/Grid.astro';
import Category from '../components/Category.tsx';
import CardContainer from '../components/CardContainer.astro';

import { fetchCategories, fillNominateData } from '../models/categories/category.services';
import { setUserSession } from '../lib/auth';
import { getProfile, getProfileSelections } from '../models/profile/profile.services';
import type { IProfileSelections } from '../models/profile/profile.interfaces';

const categories = await fetchCategories(Astro);
categories.data.forEach( category => {
	category.nominates.forEach( nominate => {
		nominate = fillNominateData(nominate, category.id);
	})
});

const userSession = await setUserSession(Astro.cookies);
const idProfile = Astro.url.searchParams.get('user')
let currentProfile = userSession || null;

if (idProfile && currentProfile?.id !== idProfile) {
	const profileFinded = await getProfile(idProfile);
	if (profileFinded) currentProfile = profileFinded;
}

let selections: IProfileSelections = {}
let n_selections = 0;
if(currentProfile) {
	selections = await getProfileSelections(currentProfile.id);
	n_selections = Object.keys(selections).length;
}
---

<HeaderLayout 
	title="Movie Picker" 
	description="Descubre la emoción de los Premios Oscar con nuestra plataforma interactiva, diseñada para entusiastas del cine y aficionados a la mayor celebración de la industria cinematográfica. Haz tus predicciones, comparte tus selecciones y compite con tus amigos en un entorno amigable y lleno de diversión. Nuestro sitio web te permite sumergirte en el mundo del cine, analizar a los nominados y elegir a tus favoritos en cada categoría. Únete a comunidades de cinéfilos y sigue el progreso de tus predicciones en tiempo real. Con interfaces intuitivas y análisis detallado de películas y talentos nominados, nuestra plataforma es el destino definitivo para los fans de los Oscars que desean experimentar la anticipación y el entusiasmo de la noche más importante del cine. ¡Haz tus apuestas, invita a tus amigos y disfruta del camino hacia los Oscars con nosotros!" 
	userSession={userSession}
>
	<main class="pb-20">
		<Header profile={currentProfile} currentUserId={userSession?.id} n_selections={n_selections}/>
		<Grid>
			{categories.data.map((category) => (
				<CardContainer 
					relevant={category.relevant}
				>
					<Category 
						client:load
						user={userSession?.id}
						category={category}
						width={category.relevant ? 2 : 1}
						userSelection={selections[category.id]}
						enable={currentProfile?.id === userSession?.id}
					/>
				</CardContainer>
			))}
		</Grid>
	</main>
</HeaderLayout>